$color-primary: #165690;
$color-primary-light: #517ba2;
$color-primary-dark: #053159;

$color-accent: #df8a13;
$color-accent-light: #F0AD4E;

$color-dark: #232323;
$color-deep-dark: #191919;
;

$color-gray: #d5d5d5;
$color-gray-light: #F4F4F4;
$color-gray-dark: #6F6F6F;

$color-light: #ffffff;

$color-black: #000000;
