@use "../presets/skin" as *;
@use "../presets/variables" as *;

:before,
:after,
* {
	box-sizing: border-box;
}

html {
	font-family: $font-main;
	font-size: $font-size;
}

body {
	overflow-x: hidden;
	max-width: 100%;
	font-family: $font-main;
	font-size: $font-size;
}

a {
	padding: 0;
}